{
    "prettier.chainedCall": true,
    "prettier.keepFunctionIndentation": true,
    "prettier.singleQuote": true,
    "prettier.trailingComma": "es5",
    "prettier.printWidth": 90,
    "prettier.arrowParens": "avoid",
    "prettier.tabWidth": 4,
    "editor.defaultFormatter": "esbenp.prettier-vscode"
    
}